<!--Topbar -->
<div class="topbar transition">
  <div class="bars">
    <button type="button" class="btn transition" id="sidebar-toggle">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <div class="menu">
    <ul>
      <li class="nav-item dropdown dropdown-list-toggle">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-bell size-icon-1"></i><span class="badge bg-danger notif">4</span>
        </a>
        <div class="dropdown-menu dropdown-list">
          <div class="dropdown-header">Notifications</div>
          <div class="dropdown-list-content dropdown-list-icons">
            <div class="custome-list-notif">
              <a href="#" class="dropdown-item dropdown-item-unread">
                <div class="dropdown-item-icon bg-primary text-white">
                  <i class="fas fa-code"></i>
                </div>
                <div class="dropdown-item-desc">
                  The Atrana template has the latest update!
                  <div class="time text-primary">3 Min Ago</div>
                </div>
              </a>

              <a href="#" class="dropdown-item">
                <div class="dropdown-item-icon bg-info text-white">
                  <i class="far fa-user"></i>
                </div>
                <div class="dropdown-item-desc">
                  Sri asks you for friendship!
                  <div class="time">12 Hours Ago</div>
                </div>
              </a>

              <a href="#" class="dropdown-item">
                <div class="dropdown-item-icon bg-danger text-white">
                  <i class="fas fa-check"></i>
                </div>
                <div class="dropdown-item-desc">
                  Storage has been cleared, now you can get back to work!
                  <div class="time">20 Hours Ago</div>
                </div>
              </a>


              <a href="#" class="dropdown-item">
                <div class="dropdown-item-icon bg-info text-white">
                  <i class="fas fa-bell"></i>
                </div>
                <div class="dropdown-item-desc">
                  Welcome to Atrana Template, I hope you enjoy using this template!
                  <div class="time">Yesterday</div>
                </div>
              </a>

            </div>
          </div>

          <div class="dropdown-footer text-center">
            <a href="#">View All</a>
          </div>


        </div>

      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/images/avatar/avatar-1.png" alt="">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="my-profile.html"><i class="fa fa-user size-icon-1"></i> <span>My Profile</span></a>
          <a class="dropdown-item" href="settings.html"><i class="fa fa-cog size-icon-1"></i> <span>Settings</span></a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt  size-icon-1"></i> <span>My Profile</span></a>
        </ul>
      </li>
    </ul>
  </div>
</div>


<!--Sidebar-->
<app-left-bar />
<!-- End Sidebar-->


<div class="sidebar-overlay"></div>


<!--Content Start-->
<div class="content-start transition  ">
  <div class="container-fluid dashboard">
    <div class="content-header">
      <router-outlet>

      </router-outlet>
    </div>




  </div><!-- End Container-->
</div><!-- End Content-->

<!-- Footer -->
<app-footer-bar />


<!-- Preloader -->
<div class="loader">
  <div class="spinner-border text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
