<div class="sidebar transition overlay-scrollbars animate__animated  animate__slideInLeft">
  <div class="sidebar-content">
    <div id="sidebar">

      <!-- Logo -->
      <div class="logo">
        <h5 class="mb-0"><img src="assets/images/logo.png"> Epic Adventures By DevOps</h5>
      </div>


      <ul class="side-menu">
        <li>
          <a href="index.html" class="active">
            <i class='bx bxs-dashboard icon' ></i> Search
          </a>
        </li>

        <!-- Divider-->
        <li class="divider" data-text="STARTER">Options</li>

        <li>
          <a href="#">
            <i class='bx bx-columns icon' ></i>
            More Options
            <i class='bx bx-chevron-right icon-right' ></i>
          </a>
          <ul class="side-dropdown">
            <li><a href="layout-default.html">My tickets</a></li>
            <li><a href="layout-top-navigation.html">My Purchases</a></li>
          </ul>
        </li>





        <!-- Divider-->





        <!-- Divider-->







      </ul>
    </div>

  </div>
</div>
